<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Draw Something</title>
    <script>
        function drawOnCanvas(){
            var c= document.getElementById("c");
            var ctx = c.getContext("2d");
            ctx.fillStyle = "#00FF00";
            ctx.fillRect(50,50,200,150);
            ctx.moveTo(50,50);
            ctx.lineTo(250,200);
            ctx.moveTo(250,50);
            ctx.lineTo(50,200);
            ctx.strokeStyle="#FF0000";
            ctx.stroke();
        }
    </script>
</head>
<body onload="drawOnCanvas();">
    <canvas id="c" width="400" height="300" style="border: 1px solid #c3c3c3;">
        Your browser does not support the canvas element
    </canvas>
</body>
</html>